@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.tiptap {
  outline: none;
  min-height: 75px;
  padding: 8px;
}

ol, ul {
  list-style: disc inside;
  margin-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  display: list-item;
}